<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <input type="hidden" id="editMode" name="editMode" [(ngModel)]="editMode">
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" id="content" class="form-control" name="content" ngModel required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">
            <span *ngIf="!editMode">Save</span>
            <span *ngIf="editMode">Update</span>
        </button>
    </form>
</div>